<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Hand Detection</title>
    <style>
        body {
            display: flex;          
            justify-content: center; 
            align-items: center;    
            height: 100vh;          
            margin: 0;              
        }
        img {
            width: 1000px; 
            height: auto; 
        }
    </style>
</head>
<body>
    <img src="{{ url_for('video_feed') }}" alt="Video feed" >
</body>
</html>
